.navigation {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    /*justify-content: space-between; /* Adjust spacing as needed */
    justify-content: flex-end;
    align-items:center;
}

.navigation li {
    display: inline-block;
    margin: 0 10px; /* Adjust margin for spacing between items */
}

.navigation a {
    text-decoration: none;
    color: #333; /* Change color as desired */
    font-weight: bold;
    font-size:larger;
}

.navigation a:hover {
    text-decoration: underline;
}